---
layout: page.njk
title: Demo Repository Site - Download Success
---

<!-- Success page for DOI downloads-->

<script defer
        data-repoid="{{ config.repo_id }}"
        data-metric="download"
        data-localhost="true"
        data-endpoint="{{ config.tracking_api_endpoint }}"
        src="{{ config.tracking_script_url }}"></script>

<h2>Download Success</h2>

Enjoy the dataset!